<div class="landing-main">
  <div class="dark-layer">
    <button><%= link_to "Begin", users_path %></button>
  </div>
  # Temporarily commented due to Heroku error:
  # ActionView::Template::Error (The asset "logo" is not present in the asset pipeline.
  # image tag "logo", alt: "alttext", class: "logo"
  # image tag "dog-sm", alt: "alttext", class: "dog-sm-img"
</div>

<div class="landing-info">
  <div class="divider">
    <div class="line"></div>
  </div>
  <div class="content">
    <p class="top-text">Won’t be home to take your dog for a walk?</p>
  </div>
  <div class="content-paw">
    # Temporarily commented due to Heroku error:
    # ActionView::Template::Error (The asset "logo" is not present in the asset pipeline.
    # image tag "paw", alt: "alttext", class: "paw"
  </div>
  <div class="content">
    <p class="bottom-text">With amadog, you can easily find someone to walk your dog, and follow their route on a live, interactive map!</p>
  </div>
  <div class="divider">
    <div class="line"></div>
  </div>
</div>
