<div class="landing-main">
  <%= image_tag "dog-sm", alt: "alttext", class: "dog-sm-img" %>
</div>

<div class="landing-info">
  <div class="divider"></div>
  <div class="content"></div>
  <div class="content-paw"></div>
  <div class="content"></div>
  <div class="divider"></div>
</div>
